
@{
    ViewData["Title"] = "Index";
}

<style>
    .Content
    {
        margin:auto;
        margin-top:10px;
        width:100%;
    }
</style>

<div class="Content">


    @inject SignInManager<ApplicationUser> SignInManager
    @if (SignInManager.IsSignedIn(User))
    {<a class="btn btn-lg btn-primary" asp-area="" asp-controller="Game" asp-action="Create">Add Game</a>}


    @await Component.InvokeAsync("GameList")

</div>

